@use '@/styles/_variables.scss';

.wrapper {
  border: 10px solid red;
  max-width: 300px;
  width: 100%;
  max-width: 300px;
  position: relative;
  border-width: 2px;
  border-color: variables.$color-text;
  border-radius: variables.$size-radius;
  display: flex;
  align-items: center;
  padding-right: 1rem;

  > .icon {
    transition: 0.1s;
    transform-origin: center center;
    height: 16px;
  }

  > .textField {
    flex-grow: 1;
    outline: none;
    height: 44px;
    background-color: variables.$color-surface;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    border: none;
    outline: none;
    border-radius: variables.$size-radius;
  }

  > .items {
    position: absolute;
    left: 0;
    top: 50px;
    height: 0px;
    opacity: 0;
    transition-duration: 0.1s;
    transition-property: height, opacity;
    background-color: variables.$color-surface;
    box-sizing: border-box;
    width: 100%;
    border-width: 0;
    border-color: variables.$color-onSurface-low;
    border-style: solid;
    border-radius: variables.$size-radius;
    margin-top: 0.5rem;
    padding: 0 1rem;
    overflow-y: clip;

    > .itemsHolder {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      max-height: 150px;
      overflow-y: scroll;
    }
  }

  &:focus-within {
    border: 3px solid variables.$color-primary;
    box-shadow: 0px 0px 0px 7px variables.$color-primary-low;
  }

  &-open {
    border: 3px solid variables.$color-primary;
    box-shadow: 0px 0px 0px 7px variables.$color-primary-low;

    > .icon {
      transform: rotate(180deg);
    }

    > .items {
      border-width: 2px;
      padding: 1rem 1rem;
      opacity: 1;
      height: auto;
    }
  }
}
