$color-primary: #7a8cdd;
// $color-primary-low: #d1dbff;
$color-primary-low: #f1f4ff;
$color-background: #fafafa;
$color-surface: #fff;
$color-onSurface-low: #ccc;
$color-text: #898d90;

$size-radius: 15px;
$size-radius-small: 7px;
